/* Styles go here */

html, body {
    height: 90%;
  }
  
.container {
    font-size: 30vw;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}

.clickable {
    cursor: pointer;
    margin: 10px;
    background: lightgrey;
}
